.barra_estoque{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.contato{
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.contato> li > a{
    color: rgb(49, 94, 227);
}

.card-container{
    display: flex;
    margin: 5px;
}

.card {
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
    float: left;
  }

.card:hover {
    box-shadow: 0 0 20px rgba(6, 6, 6, 0.2); 
    
  }
  
.icone-transicao:hover{
    transform: scale(1.4);
    transition: ease-out 0.2s;
    
}


#tabela tr td:last-child{
    text-align: right;
  }
  

  #tabela tr:nth-child(odd){
    background-color: #eee;
  }
  
  
  #tabela tr:hover td{
    background-color: #feffb7;
  }
  
 
  #tabela tr.selecionado td{
    background-color: #aff7ff;
  }


  @media (max-width: 1370px){

    .card-container{
      display: inline-block;
      width: 100%;
 }
}

@media (min-width: 500px) and (max-width: 578px){

  .card-container{
    display: inline-block;
    width: 100%;
    padding-right: 135px;
    padding-left: 135px;
    padding-top: 10px;
}
}

@media (min-width: 360px) and (max-width: 499px){

  .card-container{
    display: inline-block;
    width: 100%;
    padding-left: 12%;
}
}