.barra_estoque{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.contato{
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.contato> li > a{
    color: rgb(49, 94, 227);
}

.card-container{
    display: flex;
    justify-content: space-evenly;
}
.card {
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
    float: left;
    
  }
.card:hover {
    box-shadow: 0 0 20px rgba(6, 6, 6, 0.2); 
  }

