/* LOGIN.HTML */

.texto_log{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 500;
    font-size: x-large;
}
.input_log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.input_log> input{
    height: 2.5rem;
    width: 20rem;
}

.input_log> button{
    height: 2.5rem;
    width: 20rem;
}

/* INDEX.HTML */

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.login_btn{
    margin-left: 2rem;
}
.navbar-brand{
    font-size: xx-large;
}
.navbar{
    background-color: #00a6ff;
}
.navbar form{
    display: flex;
    justify-content:end ;
}

.navbar a{
    margin-left: 1rem;
    text-transform: uppercase;
}

.conteudo{
    margin: 10rem;
    
    
}

img{
    width: 30rem;
    height: 18rem;
    
}

.conteudo p{  
    margin-top: 5rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #47525e; 
}

.rodape_text{
font-size: xx-large;
display: flex;
justify-content: center;
margin-top: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center; 
    padding: 20px 0px 20px 0px;
    background-color: #bfe9ff;
}

button{
    margin-right: 1rem;
}